<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet">
</head>

<style>
    table {
        width: 100%;
    }

    th {
        width: 25%;
    }

    tr {
        width: 100%;
    }

</style>


<body>

<div class="container">
    <form action="{% url 'products-api' %}" base_url="{% url 'products-api' %}" id="form-wrapper" method="POST">
        <input type="hidden" id="element-id" name="element-id" class="form-control col-sm-2" value=""><br>
        <label for="fname">Enter product name:</label>
        <input type="text" id="fname" name="fname" class="form-control col-sm-2"><br>
        <label for="lprice">Enter product price:</label>
        <input type="text" id="lprice" name="lprice" class="form-control col-sm-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="calc-percentage">
            <label class="form-check-label" for="calc-percentage">
                calculate %
            </label>
        </div>
        <br>
        <label for="description">Enter product description:</label><br>
        <textarea id="description" class="form-control" placeholder="Enter text here..."></textarea><br>
        <div class="new-fields"></div>
        <button type="button" class="btn btn-info add-button">Add specification</button>
        <br><br>
        <input type="submit" value="Submit" class="btn btn-primary">
        <button type="button" class="btn btn-warning clear-button">Clear</button>
    </form>
    <br>
    <h2 class="text-center">List of products:</h2>
    <table>
        <tbody id="list-wrapper"></tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha512-Ah5hWYPzDsVHf9i2EejFBFrG2ZAPmpu4ZJtW4MfSgpZacn+M9QHDt+Hd/wL1tEkk1UgbzqepJr6KnhZjFKB+0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    $(document).on('click', '.clear-button', function (e) {
        $(this).parent()[0].reset()
        $(this).parent().find('[type="hidden"]').val('')
        $(this).parent().find(".new-fields").children().remove();
        $('#form-wrapper').attr('action', $('#form-wrapper').attr('base_url'))
        $('#form-wrapper').attr('method', 'POST')
    })

    let field_num = 0
    $(document).on('click', '.add-button', function (e) {
        let form = $(this).parent().find('.new-fields')
        field_num++
        let new_div = generate_specifications(field_num, "", "")
        form.append(new_div)
    })


    $(document).on('click', '.update-button', function (e) {
        let id_ = $(this).parent().attr('id')
        let name = $(this).parent().parent().find('.list-name').text()
        let price = $(this).parent().parent().find('.list-price').text()
        let description = $(this).parent().parent().find('.list-description').text()
        let product = $(this).closest('table').find('.list-product_specif-' + id_)

        let new_specs = ''
        product.each(function (index) {
            let spec_key = $(this).find('.list-specificaton-key').text()
            let spec_value = $(this).find('.list-specificaton-value').text()
            let specification_id = $(this).attr('id')
            new_specs += generate_specifications(specification_id, spec_key, spec_value)
        })
        let new_specifications = $('#form-wrapper .new-fields')
        new_specifications.children().remove();
        new_specifications.append(new_specs)

        let form = $('#form-wrapper')
        form.attr('method', 'PUT')
        form.attr('action', form.attr('base_url') + id_ + '/')
        form.find('#fname').val(name)
        form.find('#element-id').val(id_)
        form.find('#lprice').val(price)
        form.find('#description').val(description)

        window.scrollTo(0, 0);
    });


    function generate_specifications(ind, key, value) {
        return `<div class="form-group-key-value form-inline">
                <input type="text" id="${ind}" name="field-key" class="form-control col-md-6" value="${key}">
                <input type="text" id="${ind}" name="field-value" class="form-control col-md-6" value="${value}"><br/><br/>
             </div>`
    }


    $(document).on('click', '.delete-button', function (e) {
        let id_ = $(this).parent().attr('id')

        console.log('id:', id_)
        let url = 'http://127.0.0.1:8000/api/v1/products/' + id_ + '/';
        $('#list-wrapper').find('.data-row-'+ id_).remove()

        $.ajax({
            url: url,
            method: "DELETE",
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
            },
            success: function (data) {
                $('#form-wrapper')[0].reset()
                $('#form-wrapper .new-fields').children().remove();
            }
        })
    });

    function delete_product_from_list(product_id) {

    }

    $(document).on('click', '.delete-specification', function (e) {
        let id_ = $(this).data('id')
        let url = 'http://127.0.0.1:8000/api/v1/product/specification/' + id_ + '/';
        var this_ = $(this)
        $.ajax({
            url: url,
            method: "DELETE",
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
            },
            success: function () {
                this_.parent().parent().find('.list-specificaton-key').remove()
                this_.parent().parent().find('.list-specificaton-value').remove()
                this_.remove()
            }
        })
    })


    $(document).on('submit', '#form-wrapper', function (e) {
        e.preventDefault();
        let form = $(this)
        let name = form.find('#fname').val()
        let lprice = form.find('#lprice').val()
        let description = form.find('#description').val()
        let url = form.attr('action');
        let method = form.attr('method')
        let calc_percentage = $('#calc-percentage').is(':checked');

        let all_specifications = []
        $('.form-group-key-value').each(function () {
            let key = $(this).find('input[name="field-key"]').val()
            let value = $(this).find('input[name="field-value"]').val()
            let id = $(this).children().attr('id')

            all_specifications.push({
                "id": id,
                "key": key,
                "value": value
            })
        });

        let id_product = $('#form-wrapper').find('#element-id').val()

        $.ajax({
            url: url,
            method: method,
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
            },
            dataType: "json",
            processData: false,
            contentType: "application/json",
            data: JSON.stringify({
                "id": id_product,
                "name": name,
                "price": parseInt(lprice),
                "description": description,
                "calc_percentage": calc_percentage,
                "specification_product": all_specifications
            }),
            success: function (data) {
                let wrapper = $('#list-wrapper')
                let elem = $('.data-row-' + data.id)
                elem.remove()
                let new_div = gen_element(data.id, data.name, data.price, data.description, data.specification_product)
                wrapper.html(new_div + wrapper.html())

                $('#form-wrapper').find('#element-id').val(data.id)
                form.attr('method', 'PUT')
                form.attr('action', form.attr('base_url') + data.id + '/')
            }
        })
    });
    ReadList()

    function gen_element(id_product, name, price, description, specifications) {

        let specifications_list = ''
        $.each(specifications, function (id, obj) {
            specifications_list += `<tr class="data-row-${id_product}" >
                <td colspan="3" id="${obj.id}" class="list-product_specif-${id_product}"">
                        <span class="list-specificaton-key" >${obj.key}</span>
                        <span class="list-specificaton-value" >${obj.value}</span>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger material-icons-outlined btn-sm delete-specification" data-id=${obj.id}>delete</button>
                </td>
            </tr>`
        });

        return `<tr class="data-row-${id_product}" data-id="${id_product}">
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                <tr class="data-row-${id_product}" ">
                    <td class="list-name" >${name}</td>
                    <td class="list-price" >${price}</td>
                    <td class="list-description">${description}</td>
                    <td class="data-row-${id_product}" id="${id_product}">
                        <button type="button" class="btn btn-danger delete-button">Delete</button>
                        <button type="button" class="btn btn-secondary update-button">Update</button>
                    </td>
                </tr>
                    ${specifications_list}`
    }

    function ReadList() {
        let url = 'http://127.0.0.1:8000/api/v1/products/'
        let wrapper = $("#list-wrapper")[0]
        wrapper.innerHTML = ''
        $.ajax({
            url: url,
            method: "GET",
            success: function (data) {
                let list = data
                for (let i in list.reverse()) {
                    wrapper.innerHTML += gen_element(list[i].id, list[i].name, list[i].price, list[i].description, list[i].specification_product)
                }
            }
        })
    }

</script>
</body>
</html>